.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity:0;
}

.tab-pane{
    -fx-tab-min-width:90px;
    -fx-tab-min-height:30px;
}
.tab{   -fx-background-insets: 0 0 0 0.0.0  }
.tab-pane .tab  {    -fx-background-color: #FFFFFF;   }

.tab-pane .tab:selected  {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #6F5CC2;
    -fx-border-color:#6F5CC2;
     -fx-border-width: 0px 0px 2px 0px;
   }

.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #A5A984;
}

.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #6F5CC2;
}


.chart{
    -fx-padding: 10px;
    -fx-background-color:transparent;
    -fx-legend-visible: false;
}

.chart-plot-background{
    -fx-background-color:transparent;
}

.chart-pie{
    -fx-border-color: derive(-fx-pie-color,1%);
    -fx-border-width:0px;
}